<div class='container'>
  <div class='row'>
    <div class='col-lg-2 text-center'></div>
    <div class='col-lg-4 text-center'>Subject</div>
    <div class='col-lg-6 text-center'>Syllabus</div>
  </div>
  <div class='row m-2'>
    <div class='col-lg-2 text-center'><button class='btn btn-outline-primary' (click)="addDay()">Add Day</button>
      <br>
      <hr>
      <span *ngFor="let item of allDays" (click)="showDay(item.index)">
        <div class='dayDiv'>{{item.index}}</div>
        <hr>
      </span>
    </div>
    <div class='col-lg-4 text-center'><button class="btn btn-outline-primary" (click)="open(addTopicModal)">+ Add
        Topic</button>
      <br>
      <hr>
      <div *ngIf="allDays[currentDay - 1].listOfTopics.length > 0">
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of allDays[currentDay - 1].listOfTopics" cdkDrag
            (click)="setSelectedTopic(item.index)">
            {{item.title}}
            <span style='margin-left: auto; padding-right:10px;'>{{item.type}}</span>
            <button class="btn btn-outline-primary" (click)="open(moveTopicModal)">Move</button>&nbsp;
            <button (click)="deleteTopic(item.index)" class="btn btn-danger"><b>x</b></button>
          </div>
        </div>
      </div>


    </div>
    <div class='col-lg-6'>
      <div id='notesContent'>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Notes</a>
            <ng-template ngbNavContent>
              <hr>
              <angular-editor [(ngModel)]="topicNotesHtml" id='notesEditor' [placeholder]="'Enter Notes here'"
                [config]="config"></angular-editor>
              {{topicNotesHtml}}
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Mentor Notes</a>
            <ng-template ngbNavContent>
              <hr>
              <angular-editor [(ngModel)]="mentorNotesHtml" id='mentorNotesEditor' [placeholder]="'Enter Notes here'"
                [config]="config"></angular-editor>
              {{mentorNotesHtml}}
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <button class='btn btn-primary' (click)="saveNotes();">Save Notes</button>
      </div>
      <div id='noContent'>
        No Topic Selected
      </div>
    </div>
  </div>
</div>

<ng-template #addTopicModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Topic</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="topicTitle">Topic Title</label>
      <br>
      <input type="text" [(ngModel)]="newTopicTitle" />
      <br>
      <label for="topicType">Topic Type</label>
      <br>
      <select name="topicSelect" [(ngModel)]="newTopicType">
        <option *ngFor="let item of topicTypes" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Add click');modalAddTopic();">Add</button>
  </div>
</ng-template>

<ng-template #moveTopicModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Move Topic</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="topicTitle">Move To</label>
      <br>
      <select [(ngModel)]="moveDay" name="daySelect">
        <option *ngFor="let item of allDays" [value]="item.index">{{item.index}}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Add click');moveTopic();">Add</button>
  </div>
</ng-template>